:root {
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  /* body has allways a default margin that comes from the browser */
  margin: 0;
  width: 100vw;
}
h1 {
  font-size: 4rem;
}
h3 {
  text-transform: uppercase;
}
a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.logo-img {
  height: 100%;
  width: auto;
  display: block;
  /* margin: auto auto; */
}
.body-img {
  height: auto;
  width: 100%;
  display: block;
  margin: auto auto;
  min-width: 300px;
  max-height: 30em;
  padding: 0 1em;
}
.team-card-img {
  height: 100%;
  width: auto;
  display: block;
  margin: auto auto;
}

header {
  margin: 2rem auto;
  width: 80%;
  display: flex;
  align-items: center;
}
header div {
  flex: 1;
}
header nav {
  flex: 5;
}
nav ul {
  display: flex;
  justify-content: flex-start;
}
nav ul li {
  /* padding-left: 20px; */
  padding: 0px 20px;
  list-style-type: none;
}
p {
  text-align: justify;
}
.hero-section {
  margin: 4rem 0rem;
}
/* .hero-hero {
  height: 100vh;
} */

#id-contact-button {
  /* position: absolute; */
  display: flex;
  width: 200px;
  height: 50px;
  /* left: 120px;
  top: 567px; */
  border: 2px solid #ff9b21;
}
#id-contact-button:hover {
  border: 2px solid #00a0ff;
}

.hero-text-upper-element {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.upper-elemt-text {
  flex: 2;
  padding: 1rem 1rem;
  /* max-width: 40%; */
}
.upper-elemt-img {
  flex: 6;
  display: flex;
  justify-content: center;
}
.hero-text-lower-element {
  width: 80%;
  margin: 2em auto;
}
.id1 {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  line-height: 100%;
  text-align: Center;
  color: black;
  background-color: white;
}

.id2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-align: center;
  border: 2px solid #ff9b21;
  background-color: #ff9b21;
}
.hero-scale {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: auto;
}
.hero-scale-upper-element p {
  width: 60%;
  margin: auto;
}

.hero-team-container-element h1 {
  text-align: center;
}
.hero-team-container-element {
  width: 80%;
  margin: auto;
}
.team-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.team-cards-container p {
  width: 19%;
  height: 20rem;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  border: 3px solid black;
  border-radius: 3px;
  min-width: 200px;
}
.hero-section-hero-contact {
  width: 80%;
  margin: auto;
}
.hero-contact-container-element {
  display: flex;
  flex-wrap: wrap;
}
.hero-section-hero-contact h1 {
  padding: 1rem 1rem;
  margin: 0px 0px;
}
.hero-contact-container-element > div {
  flex: 1;
}
p > img {
  /* max-height: auto; */
  max-width: 50%;
  display: block;
  margin: auto auto;
}
.hero-contact-container-element > .upper-elemt-text {
  flex: 5;
  padding: 0;
  min-width: 300px;
}
.hero-contact-container-element > .upper-elemt-img {
  flex: 3;
  min-width: 360px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 80%;
}
form * {
  border: 3px solid black;
  border-radius: 4px;
  margin: 1em 0;
  padding: 1em;
  line-height: 2em;
}
/* .hero-contact-container-element > .upper-elemt-text {
  padding: 0;
  min-width: 300px;
} */
form > input[type="button"] {
  background-color: cadetblue;
  font-size: 1em;
  color: honeydew;
  font-weight: bold;
  width: 40%;
  border-color: none;
  padding: 0.5em;
  text-transform: uppercase;
}

@media (max-width: 675px) {
  .img-right-container {
    flex-direction: column-reverse;
  }
}
